<div class="list-item_container">
    <div class="navigation-container">
        <a routerLink="/list">
            <button mat-mini-fab aria-label="Example icon button with a filter list icon">
                <mat-icon>keyboard_arrow_left</mat-icon>
            </button>
        </a>
        
        <div class="text">
            Go Back
        </div>
    </div>
    <div class="action-container">
        <div class="left-container">
            <div class="text">
                Status
            </div>
  
            <div *ngIf="invoice?.status" class="status" [ngClass]="{'paid': invoice.status==='paid', 'pending': invoice.status==='pending', 'draft': invoice.status==='draft'}">
                <div class="background" [ngClass]="{'paid': invoice.status==='paid', 'pending': invoice.status==='pending', 'draft': invoice.status==='draft'}">
                    
                </div>
                <div class="text">
                    <div class="dot"></div>
                    {{invoice.status}}
                </div>
            </div>
        </div>
        <div class="right-container">
            <button mat-flat-button class="edit">Edit</button>
            <button mat-flat-button class="delete">Delete</button>
            <button mat-flat-button class="paid">Mark as Paid</button>
        </div>
    </div>
    <div class="info-container">
        <div class="address-info">
            
            <div class="left-container-grid">

                <h2 class="id">
                #{{invoice?.id}}
                </h2>

                <div class="description">
                    {{invoice?.description}}
                </div>

            </div>
            <div class="right-container-grid">
               <div class="address">
                <div class="from-address">
                    {{invoice?.clientAddress.street}}
                </div>
                <div class="from-city">
                    {{invoice?.clientAddress.city}}
                </div>
                <div class="from-post-code">
                    {{invoice?.clientAddress.postCode}}
                </div>
                <div class="from-country">
                    {{invoice?.clientAddress.country}}
                </div>
               </div>
            </div>
        </div>
        <div class="address-from-info">
            <div class="invoice_details-left">
                <div class="invoice_date">
                    <div class="header-text">
                        Invoice Date
                    </div>
                    <div class="text">
                        {{invoice?.createdAt}}
                    </div>
                </div>
                <div class="payment-due">
                    <div class="header-text">
                        Payment payment-due
                    </div>
                    <div class="text">
                        {{invoice?.paymentDue}}
                    </div>
                </div>
            </div>
            <div class="invoice_details-middle">
                <div class="invoice_to-details">
                    <div class="header-text">
                        Bill To
                    </div>
                    <div class="text name">
                        {{invoice?.clientName}}
                    </div>
                    <div class="address">
                        <div class="from-address">
                            {{invoice?.senderAddress.street}}
                        </div>
                        <div class="from-city">
                            {{invoice?.senderAddress.city}}
                        </div>
                        <div class="from-post-code">
                            {{invoice?.senderAddress.postCode}}
                        </div>
                        <div class="from-country">
                            {{invoice?.senderAddress.country}}
                        </div>
                       </div>
                </div>
            </div>
            <div class="invoice_details-right">
                <div class="invoice-sent_details">
                    <div class="header-text">
                        Sent to
                    </div>
                    <div class="text name">
                        {{invoice?.clientEmail}}
                    </div>
                </div>
            </div>
        </div>
        <div class="invoice-items_container">
            
            <app-invoice-items [invoice_items]="invoice?.items" [items]="items"></app-invoice-items>
        </div>
    </div>
</div>