<div class="filter-container">
    <div class="left-container">
        <h2>
            Invoices
        </h2>
        <p>There are {{invoices.length}} total invoices</p>
    </div>
    <div class="right-container">
        <div class="filter-button">
            <button mat-button [matMenuTriggerFor]="menu" class="filter-button">
                <div class="text">
                    Filter by status <mat-icon>keyboard_arrow_down</mat-icon>
                </div>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item *ngFor="let item of filterOptions" (click)="filterList(item)">{{item}}</button>
            </mat-menu>
            <button mat-flat-button class="add-invoice" (click)="toggleNewInvoice()">
                <mat-icon>add</mat-icon><span class="button-text">New Invoice</span>
            </button>
        </div>
    </div>
</div>

<div class="list-container">
    <div class="list-entry" *ngFor="let item of filteredInvoices">
        <div class="id">
            <span class="number">#</span>{{item.id}}
        </div>
        <div class="date">
            {{item.createdAt}}
        </div>
        <div class="client">
            {{item.clientName}}
        </div>
        <div class="price">
            £ {{item.total}}
        </div>
        <div class="status" [ngClass]="{'paid': item.status==='paid', 'pending': item.status==='pending', 'draft': item.status==='draft'}">
            <div class="background" [ngClass]="{'paid': item.status==='paid', 'pending': item.status==='pending', 'draft': item.status==='draft'}">
                
            </div>
            <div class="text">
                <div class="dot"></div>
                {{item.status}}
            </div>
        </div>
        <div class="arrow-div">
            <a [routerLink]=[item.id]>
                <button mat-mini-fab aria-label="Example icon button with a filter list icon">
                    <mat-icon>keyboard_arrow_right</mat-icon>
                </button>
            </a>
            
        </div>
    </div>
    <div class="empty-container" *ngIf="invoices.length === 0 || showLoader === true">
        <img src="../../../assets/images/no-invoices-svg.svg" alt="">
    </div>
</div>
<!-- https://angular.io/guide/deployment#server-configuration -->